@page
@model WesternInn_MajorProject.Pages.Guests.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.theRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.theRoom.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.theGuest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.theGuest.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
